# Pastas e arquivos do Visual Studio
.vs/
*.user
*.suo
*.vsidx

# Pastas de build
bin/
obj/

# Arquivos temporários e configs locais
*.log
*.db
*.sqlite
*.DS_Store
*.idea/
*.vscode/

# SQL Server LocalDB
*.mdf
*.ldf
*.ndf

# Backup files
*.bak
