html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #d2d7e0;
  margin: 0;
  padding: 0;
  text-align: center;

  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  max-width: 600px;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #646464;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

input {
  margin-bottom: 15px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}

button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
.botao-voltar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f8f9fa;
  color: #348cf1;
  text-decoration: none;
  border: 2px solid #348cf1;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 20px auto 40px auto;
}

.botao-voltar:hover {
  background-color: rgb(26, 60, 97);
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.btn-delete:hover {
  background-color: #c82333;
}

.btn-remover {
  background-color: #dc3545;
  width: 28px;
  height: 28px;
}
.btn-remover:hover {
  background-color: #c82333;
}
.btn-refresh {
  background-color: #1e70b3;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}
.btn-refresh:hover {
  background-color: #11548b;
}
.btn-editar {
  background-color: #f5a134;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 2px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-editar i {
  font-size: 22px;
}
.btn-editar:hover {
  background-color: #e8590c;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.inicio {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 10px;
}

.icones {
  display: flex;
  margin: 0px 0;
}

i {
  margin: 8px;
  transition: transform 0.3s ease;
}

.iconelampada i {
  color: #ffe033;
}

.iconelapis i {
  color: #882cb3;
}

.icones i:hover {
  transform: scale(1.2);
}

.opcoes a {
  font-weight: 700;
  display: block;
  margin: 10px;
  font-size: 1.5em;
  color: #1e599c;
  text-decoration: none;
  padding: 10px;
  background-color: #ddebf0;
  border: 1px solid #4c8baf;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.opcoes a:hover {
  background-color: #4c8baf;
  color: #fff;
}

.logo {
  text-align: center;
  margin-top: 1px;
}

.logo-img {
  width: 360px;
}

.table-wrapper {
  overflow-x: auto;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .table-wrapper {
    overflow-x: auto;
    overflow-y: visible;
  }

  table {
    min-width: 600px;
  }

  .container {
    width: 95%;
    margin: 10px auto;
    padding: 15px;
  }

  button,
  .botao-voltar {
    width: 100%;
    box-sizing: border-box;
  }
  .logo-img {
    width: 200px;
  }
}

h3 i {
  margin-right: 8px;
  color: black;
}
